src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50: .row: .col-md-4.mx-auto
    h2.mb-20.pb-10.border-bottom Список страниц
    ul.pl-0(style="list-style: none;font-size: 20px;")
      li: a.d-block.my-20(href="main.html") Главная
      li: a.d-block.my-20(href="category.html") Категории
      li: a.d-block.my-20(href="page.html") Страница базового материала
      li: a.d-block.my-20(href="stadiums.html") Разводящая страница стадионов
      li: a.d-block.my-20(href="stadium-page.html") Cтраница стадионa
      li: a.d-block.my-20(href="plan.html") Расписание матчей
      li: a.d-block.my-20(href="plan-done.html") Расписание матчей (после жеребьёвки)
      li: a.d-block.my-20(href="404.html") 404
      li: a.d-block.my-20(href="festivals.html") Фестивали
      li: a.d-block.my-20(href="festivals-map.html") Карта фестивалей

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- style for loader-->
    <style>
      .loader {
        opacity: 0;
        display: flex;
        background-repeat: no-repeat;
        background-position: center center;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-image: url(./img/loader-bg.png);
        background-color: #009cb4;
        z-index: 1000;
        top: 0;
        left: 0;
        text-align: center;
      }
      .loader__text{
        opacity: 0
      }
    </style>
    <link rel="stylesheet" href="css/style.css?1.3">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
          <ul class="pl-0" style="list-style: none;font-size: 20px;">
            <li><a class="d-block my-20" href="main.html">Главная</a></li>
            <li><a class="d-block my-20" href="category.html">Категории</a></li>
            <li><a class="d-block my-20" href="page.html">Страница базового материала</a></li>
            <li><a class="d-block my-20" href="stadiums.html">Разводящая страница стадионов</a></li>
            <li><a class="d-block my-20" href="stadium-page.html">Cтраница стадионa</a></li>
            <li><a class="d-block my-20" href="plan.html">Расписание матчей</a></li>
            <li><a class="d-block my-20" href="plan-done.html">Расписание матчей (после жеребьёвки)</a></li>
            <li><a class="d-block my-20" href="404.html">404</a></li>
            <li><a class="d-block my-20" href="festivals.html">Фестивали</a></li>
            <li><a class="d-block my-20" href="festivals-map.html">Карта фестивалей</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/vendor.js?1.3"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
